.header-container{
background-color: rgb(67, 65, 65);
display: flex;
justify-content: space-between;
}

.title-container{
    margin-left: 50px;
}

.login-button-header{
    padding-top: 1rem;
    display: flex;
    color: white;
    cursor: pointer;
}

.signup-button-header{
    display: flex;
    padding-top: 1rem;
    color: white;
    cursor: pointer;
}

.title{
    color: aliceblue;
}

.login-signup-container{
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-right: 50px;
}